[submodule "winutil"]
	path = winutil
	url = https://github.com/ChrisTitusTech/winutil.git
[submodule "tiny11-automated"]
	path = tiny11-automated
	url = https://github.com/kelexine/tiny11-automated.git
[submodule "tiny11builder-ntdevlabs"]
	path = tiny11builder-ntdevlabs
	url = https://github.com/ntdevlabs/tiny11builder.git
